/* MainNavigation.css */

.main-navigation__menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.main-navigation__title a {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.main-navigation__title div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-navigation__drawer-nav {
  height: 100%;
  padding: 10px;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    color: rgb(0, 0, 0);
    display: none;
  }

  .main-navigation__header-nav {
    display: flex;
  }
}

@media (max-width: 768px) {
  .main-navigation__menu-btn {
    display: block;
    position: absolute;
    left: 10px;
  }

  .main-navigation__title {
    text-align: left;
    padding-left: 30px;
  }

  .main-navigation__header-nav a {
    display: none;
  }
}

.main-navigation__title {
  font-size: 18px;
}

.drawer-nav-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  text-align: center;
}

.drawer-nav-links li {
  padding: 5px 0;
}

.drawer-nav-links a {
  color: black;
}

.drawer-nav-links .active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
}
