.nav-links {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 14px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links .active {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
}
