.profile-container {
  padding: 0 20px;
  padding-top: 40px;
  max-width: 1100px;
  /* background-color: rgb(38, 28, 30); */
  margin: 0 auto;
}

.user-info-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.profile-avatar img {
  width: 100px;
  border-radius: 100%;
}

#profile-username {
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  font-size: 20px;
}

#profile-email {
  color: white;
}
